<a href="https://colab.research.google.com/github/krumodx/learn/blob/main/32Picha.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#การเรียนโปรแกรมคำนวณค่าพื้นที่รูปสี่เหลี่ยม
Pseudo code
1. start
2. input width , length
3. compute area = width * length
4. print area

In [ ]:
width=int(input('กรุณาใส่ความกว้างของรูปสี่เหลี่ยม'))
length=int(input('กรุณาใส่ความยาวของรูปสี่เหลี่ยม'))
area=width*length
print('พื้นที่รูปสี่เหลี่ยมรูปนี้มีขนาด',area,'ตารางเซนติเมตร')

#การเรียนโปรแกรมคำนวณค่าพื้นที่รูปสามเหลี่ยม
Pseudo code
1. start
2. input height , base
3. compute area = height * base
4. print area

In [ ]:
Theight=int(input('กรุณาใส่ความสูงของรูปสามเหลี่ยม'))
base=int(input('กรุณาใส่ความยาวฐานของรูปสามเหลี่ยม'))
area=1/2*base*height
print('พื้นที่รูปสามเหลี่ยยมรูปนี้มีขนาด',area,'ตารางเซนติเมตร')

#การเรียนโปรแกรมคำนวณค่าพื้นที่รูปวงกลม
Pseudo code
1. start
2. input radius
3. compute area = 22/7*radius^2
4. print area

#การเรียนโปรแกรมคำนวณค่าความยาวเส้นรอบรูปวงกลม
Pseudo code
1. start
2. input radius
3. compute area = 2*22/7*radius
4. print area

In [ ]:
radius=int(input('กรุณาใส่ความยาวรัศมีของวงกลม'))
area=22/7*radius**2
line=2*22/7*radius
print('พื้นที่วงกลมรูปนี้มีขนาด',area,'ตารางเซนติมเตร')
print('ความยาวเส้นรอบรูปมีขนาด',line,'ตารางเซนติเมตร')

#ลูกค้าคนหนึ่ง กู้ยืมเงินจากบริษัทปล่อยสินเชื่อเพื่อซื้อสินค้ามาขายเป็นเงิน 5,000 บาท  โดยบริษัทคิดดอกเบี้ยในอัตรา 12% ต่อปี  เมื่อครบเวลากู้ลูกค้าคนนี้ต้องชำระดอกเบี้ยเป็นเงินเท่าไหร่
Pseudo code
1. start
2. input loan , year , month
3. compute interest = ((loan * interest)/12)*((years * 12)+month)
4. print interest

In [ ]:
loan=int(input('กรุณาใส่จำนวนเงินกู้'))
year=int(input('กรุณาใส่จำนวนปี'))
month=int(input('กรุณาใส่จำนวนเดือน'))
interest=((loan*12/100)/12)*((year*12)+month)
print('ดอกเบี้ยที่ลูกค้าต้องชำระทั้งหมดเป็นเงิน',interest,'บาท')

In [ ]:
a=11//2
b=11%2
print(a)
print(b)

// = หารกันเอาเศษออก
% = หารกันแต่เอาแค่เศษ

#โจทย์อะไรไม่รู้จำไม่ได้
Pseudo code
1. start
2. input dis_way
3. compute net = 35+(dis_way*s)
4. print net

In [ ]:
dis_way=int(input('กรุณาใส่กิโลเมตร'))
net=35+(dis_way*2)
print('ค่าโดยสารที่ต้องจ่ายเป็นเงินทั้งหมด',net,'บาท')

#คำนวณค่าขนม
*สิ่งที่ต้องการ(output)
*ข้อมูลนำเข้า(input)
*ขั้นตอนการประมวลผล(process)

In [ ]:
tal=int(input('กรุณาใส่จำนวนชิ้นที่ซื้อ'))
banana=int(input('กรุณาใส่จำนวนชิ้นที่ซื้อ'))
sai=int(input('กรุณาใส่จำนวนชิ้นที่ซื้อ'))
money=(tal*2)+(banana*3)+(sai*4)
print('คุณต้องจ่ายค่าขนมทั้งหมด',money,'บาท')

#เงินทอน

In [ ]:
money_ton=int(input('กรุณาใส่เงินทอน'))
ten_coin=money_ton//10
five_coin=(money_ton%10)//5
two_coin=(money_ton%5)//2
one_coin=((money_ton%5)%2)
print('คุณได้เหรียญ10',ten_coin,'เหรียญ')
print('คุณได้เหรียญ5',five_coin,'เหรียญ')
print('คุณได้เหรียญ2',two_coin,'เหรียญ')
print('คุณได้เหรียญ1',one_coin,'เหรียญ')

#โปรแกรมคำนวณค่าคอมมิชชั่น

In [ ]:
std_id=(input('กรุณาใส่รหัสนักเรียน'))
name=(input('กรุณาใส่ชื่อของคุณ'))
sale=float(input('กรุณาใส่ยอดขาย'))
commis=(sale*20/100)
print('สวัสดีคุณ',std_id,name)
print('คุณได้รับค่าคอมมิชชั่นเป็นจำนวนเงิน',commis,'บาท')

In [ ]:
cost_box=int(input('กรุณาใส่ราคาต่อลัง'))
products_box=int(input('กรุณาใส่จำนวนสินค้าในลัง'))
cost_item=cost_box/products_box
shop_item=cost_item+(cost_item*20/100)
print('ราคาต่อชิ้น',cost_item,'บาท และราคาขายสินค้าหน้าร้านแม่',shop_item,'บาท')

In [ ]:
score=int(input('กรุณาใส่คะแนนของคุณ'))
if score<50:
  print('สอบตก')
else:
  print('สอบผ่าน')

In [ ]:
nueng=int(input('กรุณาใส่จำนวนแรก'))
song=int(input('กรุณาใส่จำนวนที่สอง'))
if nueng<song:
  print(nueng,'<',song)
elif nueng<song:
  print(nueng,'>',song)
else:
  print(nueng,'=',song)

In [ ]:
p_n=(input('ชื่อสินค้า'))
p_price=int(input('ราคาสินค้า'))
num=int(input('จำนวนสินค้า'))
total_p=p_price*num
if total_p>=2000:
  discount=total_p*20/100
else:
  discount=total_p*5/100
net_p=total_p-discount
print(p_n,'ราคารวมสินค้าทั้งหมด',total_p,'บาท   ได้รับส่วนลด',discount,'บาท  คุณต้องจ่ายทั้งหมด',net_p,'บาท')

In [ ]:
weight=int(input('ใส่น้ำหนัก'))
height_can=int(input('ใส่ส่วนสูง'))
height_m=height_can/100
bmi=weight/(height_m**2)
bmi=float(input('ใส่ bmi'))
if bmi<18.5 :
  print(bmi,'น้ำหนักต่ำกว่าเกณฑ์')
elif 18.5<=bmi<=22.9 :
  print(bmi,'สมส่วน')
elif 22.9<=bmi<=24.9 :
  print(bmi,'น้ำหนักเกิน')
elif 25.0<=bmi<=29.9 :
  print(bmi,'โรคอ้วน')
else :
  print(bmi,'โรคอ้วนอันตราย')

ใส่ bmi30
30.0 โรคอ้วนอันตราย

In [ ]:
income=float(input('เงินได้สุทธิต่อปี'))
if income<=150000:
  tax=0
elif 150001<=income<=300000 :
  tax=income*5/100
elif 300001<=income<=500000 :
  tax=income*10/100
elif 500001<=income<=750000 :
  tax=income*15/100
elif 750001<=income<=1000000 :
  tax=income*20/100
elif 1000001<=income<=2000000 :
  tax=income*25/100
elif 2000001<=income<=5000000 :
  tax=income*30/100
else :
  tax=income*35/100
print('คุณได้จ่ายภาษีทั้งหมด',tax,'บาท')

เงินได้สุทธิต่อปี5000001
คุณได้จ่ายภาษีทั้งหมด 1750000.35

#การวนซ้ำ(Loop)
           *while loop

In [ ]:
i=1
while  i<=10 :
  print(i,end=' , ')
  i+=1  #มีค่าเท่ากับ i=i+1

1 , 2 , 3 , 4 , 5 , 6 , 7 , 8 , 9 , 10 ,

In [ ]:
i=500
while  i>=0 :
  print(i,end=' , ')
  i-=5   #มีค่าเท่ากับ i=i-5

500 , 495 , 490 , 485 , 480 , 475 , 470 , 465 , 460 , 455 , 450 , 445 , 440 , 435 , 430 , 425 , 420 , 415 , 410 , 405 , 400 , 395 , 390 , 385 , 380 , 375 , 370 , 365 , 360 , 355 , 350 , 345 , 340 , 335 , 330 , 325 , 320 , 315 , 310 , 305 , 300 , 295 , 290 , 285 , 280 , 275 , 270 , 265 , 260 , 255 , 250 , 245 , 240 , 235 , 230 , 225 , 220 , 215 , 210 , 205 , 200 , 195 , 190 , 185 , 180 , 175 , 170 , 165 , 160 , 155 , 150 , 145 , 140 , 135 , 130 , 125 , 120 , 115 , 110 , 105 , 100 , 95 , 90 , 85 , 80 , 75 , 70 , 65 , 60 , 55 , 50 , 45 , 40 , 35 , 30 , 25 , 20 , 15 , 10 , 5 , 0 ,

In [ ]:
x=int(input('ใส่แม่สูตรคูณ'))
i=1
while  i<=100 :
  print(x,'x',i,'=',x*i)
  i+=1

ใส่แม่สูตรคูณ25
25 x 1 = 25
25 x 2 = 50
25 x 3 = 75
25 x 4 = 100
25 x 5 = 125
25 x 6 = 150
25 x 7 = 175
25 x 8 = 200
25 x 9 = 225
25 x 10 = 250
25 x 11 = 275
25 x 12 = 300
25 x 13 = 325
25 x 14 = 350
25 x 15 = 375
25 x 16 = 400
25 x 17 = 425
25 x 18 = 450
25 x 19 = 475
25 x 20 = 500
25 x 21 = 525
25 x 22 = 550
25 x 23 = 575
25 x 24 = 600
25 x 25 = 625
25 x 26 = 650
25 x 27 = 675
25 x 28 = 700
25 x 29 = 725
25 x 30 = 750
25 x 31 = 775
25 x 32 = 800
25 x 33 = 825
25 x 34 = 850
25 x 35 = 875
25 x 36 = 900
25 x 37 = 925
25 x 38 = 950
25 x 39 = 975
25 x 40 = 1000
25 x 41 = 1025
25 x 42 = 1050
25 x 43 = 1075
25 x 44 = 1100
25 x 45 = 1125
25 x 46 = 1150
25 x 47 = 1175
25 x 48 = 1200
25 x 49 = 1225
25 x 50 = 1250
25 x 51 = 1275
25 x 52 = 1300
25 x 53 = 1325
25 x 54 = 1350
25 x 55 = 1375
25 x 56 = 1400
25 x 57 = 1425
25 x 58 = 1450
25 x 59 = 1475
25 x 60 = 1500
25 x 61 = 1525
25 x 62 = 1550
25 x 63 = 1575
25 x 64 = 1600
25 x 65 = 1625
25 x 66 = 1650
25 x 67 = 1675
25 x 68 = 1700
25 x 69 = 1725
25 x 70 = 1750
25 x 71 = 1775
25 x 72 = 1800
25 x 73 = 1825
25 x 74 = 1850
25 x 75 = 1875
25 x 76 = 1900
25 x 77 = 1925
25 x 78 = 1950
25 x 79 = 1975
25 x 80 = 2000
25 x 81 = 2025
25 x 82 = 2050
25 x 83 = 2075
25 x 84 = 2100
25 x 85 = 2125
25 x 86 = 2150
25 x 87 = 2175
25 x 88 = 2200
25 x 89 = 2225
25 x 90 = 2250
25 x 91 = 2275
25 x 92 = 2300
25 x 93 = 2325
25 x 94 = 2350
25 x 95 = 2375
25 x 96 = 2400
25 x 97 = 2425
25 x 98 = 2450
25 x 99 = 2475
25 x 100 = 2500

In [ ]:
i=1
while  i<=25 :
  print(' * '*i)
  i+=1

 *
 *  *
 *  *  *
 *  *  *  *
 *  *  *  *  *
 *  *  *  *  *  *
 *  *  *  *  *  *  *
 *  *  *  *  *  *  *  *
 *  *  *  *  *  *  *  *  *
 *  *  *  *  *  *  *  *  *  *
 *  *  *  *  *  *  *  *  *  *  *
 *  *  *  *  *  *  *  *  *  *  *  *
 *  *  *  *  *  *  *  *  *  *  *  *  *
 *  *  *  *  *  *  *  *  *  *  *  *  *  *
 *  *  *  *  *  *  *  *  *  *  *  *  *  *  *
 *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *
 *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *
 *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *
 *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *
 *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *
 *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *
 *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *
 *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *
 *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *
 *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *

In [ ]:
i=2
while  i<=12 :
  j=1
  while  j<=12 :
    print(j,'x',i,'=',j*i)
    j+=1
  i+=1

1 x 2 = 2
2 x 2 = 4
3 x 2 = 6
4 x 2 = 8
5 x 2 = 10
6 x 2 = 12
7 x 2 = 14
8 x 2 = 16
9 x 2 = 18
10 x 2 = 20
11 x 2 = 22
12 x 2 = 24
1 x 3 = 3
2 x 3 = 6
3 x 3 = 9
4 x 3 = 12
5 x 3 = 15
6 x 3 = 18
7 x 3 = 21
8 x 3 = 24
9 x 3 = 27
10 x 3 = 30
11 x 3 = 33
12 x 3 = 36
1 x 4 = 4
2 x 4 = 8
3 x 4 = 12
4 x 4 = 16
5 x 4 = 20
6 x 4 = 24
7 x 4 = 28
8 x 4 = 32
9 x 4 = 36
10 x 4 = 40
11 x 4 = 44
12 x 4 = 48
1 x 5 = 5
2 x 5 = 10
3 x 5 = 15
4 x 5 = 20
5 x 5 = 25
6 x 5 = 30
7 x 5 = 35
8 x 5 = 40
9 x 5 = 45
10 x 5 = 50
11 x 5 = 55
12 x 5 = 60
1 x 6 = 6
2 x 6 = 12
3 x 6 = 18
4 x 6 = 24
5 x 6 = 30
6 x 6 = 36
7 x 6 = 42
8 x 6 = 48
9 x 6 = 54
10 x 6 = 60
11 x 6 = 66
12 x 6 = 72
1 x 7 = 7
2 x 7 = 14
3 x 7 = 21
4 x 7 = 28
5 x 7 = 35
6 x 7 = 42
7 x 7 = 49
8 x 7 = 56
9 x 7 = 63
10 x 7 = 70
11 x 7 = 77
12 x 7 = 84
1 x 8 = 8
2 x 8 = 16
3 x 8 = 24
4 x 8 = 32
5 x 8 = 40
6 x 8 = 48
7 x 8 = 56
8 x 8 = 64
9 x 8 = 72
10 x 8 = 80
11 x 8 = 88
12 x 8 = 96
1 x 9 = 9
2 x 9 = 18
3 x 9 = 27
4 x 9 = 36
5 x 9 = 45
6 x 9 = 54
7 x 9 = 63
8 x 9 = 72
9 x 9 = 81
10 x 9 = 90
11 x 9 = 99
12 x 9 = 108
1 x 10 = 10
2 x 10 = 20
3 x 10 = 30
4 x 10 = 40
5 x 10 = 50
6 x 10 = 60
7 x 10 = 70
8 x 10 = 80
9 x 10 = 90
10 x 10 = 100
11 x 10 = 110
12 x 10 = 120
1 x 11 = 11
2 x 11 = 22
3 x 11 = 33
4 x 11 = 44
5 x 11 = 55
6 x 11 = 66
7 x 11 = 77
8 x 11 = 88
9 x 11 = 99
10 x 11 = 110
11 x 11 = 121
12 x 11 = 132
1 x 12 = 12
2 x 12 = 24
3 x 12 = 36
4 x 12 = 48
5 x 12 = 60
6 x 12 = 72
7 x 12 = 84
8 x 12 = 96
9 x 12 = 108
10 x 12 = 120
11 x 12 = 132
12 x 12 = 144

In [ ]:
i=1
while  i<=10 :
  print(i,'picha'*i)
  i+=1  #มีค่าเท่ากับ i=i+1

In [ ]:
print('************โปรแกรมคำนวณพื้นที่รูปเรขาคณิต************')
print('พิมพ์  1  เพื่อคำนวณพื่นที่รูปสี่เหลี่ยม')
print('พิมพ์  2  เพื่อคำนวณพื่นที่รูปสามเหลี่ยม')
print('พิมพ์  3  เพื่อคำนวณพื่นที่รูปวงกลม')
print('พิมพ์  -1  เพื่อออกจากโปรแกรม')
num=int(input('กรุณาพิมพ์ตัวเลขเพื่อคำนวณพื้นที่ที่คุณต้องการ'))
while  num != -1:
    if num==1 :
       print('************โปรแกรมคำนวณพื้นที่รูปสี่เหลี่ยม************')
       width=int(input('กรุณาใส่ความกว้างของรูปสี่เหลี่ยม'))
       length=int(input('กรุณาใส่ความยาวของรูปสี่เหลี่ยม'))
       area=width*length
       print('พื้นที่รูปสี่เหลี่ยมรูปนี้มีขนาด',area,'ตารางเซนติเมตร')
    elif num==2 :
       print('************โปรแกรมคำนวณพื้นที่รูปสามเหลี่ยม************')
       height=int(input('กรุณาใส่ความสูงของรูปสามเหลี่ยม'))
       base=int(input('กรุณาใส่ความยาวฐานของรูปสามเหลี่ยม'))
       area=1/2*base*height
       print('พื้นที่รูปสามเหลี่ยมรูปนี้มีขนาด',area,'ตารางเซนติเมตร')
    elif num==3 :
       print('************โปรแกรมคำนวณพื้นที่รูปวงกลม************')
       radius=int(input('กรุณาใส่ความยาวรัศมีของวงกลม'))
       area=22/7*radius**2
       print('พื้นที่วงกลมรูปนี้มีขนาด',area,'ตารางเซนติมเตร')
    else :
       print('ไม่มีตัวเลือกที่คุณต้องการ      กรุณาเลือกใหม่')
print('************โปรแกรมคำนวณพื้นที่รูปเรขาคณิต************')
print('พิมพ์  1  เพื่อคำนวณพื่นที่รูปสี่เหลี่ยม')
print('พิมพ์  2  เพื่อคำนวณพื่นที่รูปสามเหลี่ยม')
print('พิมพ์  3  เพื่อคำนวณพื่นที่รูปวงกลม')
print('พิมพ์  -1  เพื่อออกจากโปรแกรม')
num=int(input('กรุณาพิมพ์ตัวเลขเพื่อคำนวณพื้นที่ที่คุณต้องการ'))

#ข้อ1

In [18]:
num1=int(input('ใส่ตัวเลขที่1........'))
num2=int(input('ใส่ตัวเลขที่2........'))
num3=int(input('ใส่ตัวเลขที่3........'))
if  num1>num2 :
    num1>num3
    print('ตัวเลขที่มีค่ามากที่สุดคือ.......',num1)
elif num2>num3 :
    print('ตัวเลขที่มีค่ามากที่สุดคือ.......',num2)
else :
    print('ตัวเลขที่มีค่ามากที่สุดคือ.......',num3)

ใส่ตัวเลขที่111
ใส่ตัวเลขที่212
ใส่ตัวเลขที่39
ตัวเลขที่มีค่ามากที่สุดคือ....... 12

#ข้อ2

In [6]:
width=int(input('กรุณาใส่ความกว้างของรูปสี่เหลี่ยม'))
length=int(input('กรุณาใส่ความยาวของรูปสี่เหลี่ยม'))
area=width*length
if  width==length :
    print('พื้นที่รูปจัตุรัสรูปนี้มีขนาด',area,'ตารางเซนติเมตร')
else :
    print('พื้นที่รูปสี่เหลี่ยมรูปนี้มีขนาด',area,'ตารางเซนติเมตร')

กรุณาใส่ความกว้างของรูปสี่เหลี่ยม15
กรุณาใส่ความยาวของรูปสี่เหลี่ยม16
พื้นที่รูปสี่เหลี่ยมรูปนี้มีขนาด 240 ตารางเซนติเมตร

#ข้อ3

In [8]:
income=float(input('เงินได้สุทธิต่อปี'))
if income<=100000:
  tax=0
elif 100001<=income<=500000 :
  tax=income*5/100
elif 500001<=income<=1000000 :
  tax=income*10/100
else :
  tax=income*20/100
print('คุณได้จ่ายภาษีทั้งหมด',tax,'บาท')

เงินได้สุทธิต่อปี10000000
คุณได้จ่ายภาษีทั้งหมด 2000000.0 บาท

#ข้อ4

In [22]:
nuai1=int(input('ใส่คะแนนหน่วย1.....'))
nuai2=int(input('ใส่คะแนนหน่วย2.....'))
sop_klang_phak=int(input('ใส่คะแนนสอบกลางภาค.....'))
sop_plai_phak=int(input('ใส่คะแนนสอบปลายภาค.....1'))
kret=nuai1+nuai2+sop_klang_phak+sop_plai_phak
if 0<=kret<=49 :
   kret=0
elif 50<=kret<=54 :
   kret=1
elif 55<=kret<=59 :
   kret=1.5
elif 60<=kret<=64 :
   kret=2
elif 65<=kret<=69 :
   kret=2.5
elif 70<=kret<=74 :
   kret=3
elif 75<=kret<=79 :
   kret=3.5
else :
   kret=4
print('ได้เกรด',kret)

ใส่คะแนนหน่วย1.....30
ใส่คะแนนหน่วย2.....30
ใส่คะแนนสอบกลางภาค.....4
ใส่คะแนนสอบปลายภาค.....10
ได้เกรด 3